* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
i,
em {
  font-style: normal;
}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
/* 设置公共颜色 */
.col_red {
  color: #e00000;
}
.view {
  background-color: #f6f6f6;
  /*这是头部栏开始部分*/
  /*这是京东导航开始部分*/
  /* 这是掌上秒杀开始部分 */
  /* 这是狂撒亿万神券开始部分 */
  /* 这是手机专享开始部分 */
  /* 这是广告开始部分 */
  /* 这是特色超市开始部分 */
  /* 这是主题街开始部分 */
  /* 这是品牌推荐开始部分 */
  /* 这是猜你喜欢开始部分 */
  /* 这是脚底开始部分 */
  /* 这是脚底工具栏开始部分 */
}
.view .top_bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  background-color: #e00000;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  z-index: 5;
}
.view .top_bar .logo h1 {
  padding: 10px 0;
}
.view .top_bar .logo h1 a {
  width: 58px;
  height: 20px;
  background: url('../images/jd-sprites.png') no-repeat;
  background-position: 0 -110px;
  background-size: 200px 200px;
  font-size: 0;
}
.view .top_bar .search {
  flex: 1;
  position: relative;
  padding: 5px 0;
  margin: 0 5px;
}
.view .top_bar .search input {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-indent: 30px;
}
.view .top_bar .search::after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
  width: 20px;
  height: 20px;
  background: url('../images/jd-sprites.png') no-repeat;
  background-position: -60px -110px;
  background-size: 200px 200px;
}
.view .top_bar > a {
  width: 35px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.view .jd_nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 10px;
}
.view .jd_nav a {
  width: 25%;
  font-size: 13px;
  color: #666;
  text-align: center;
  padding: 5px 0;
}
.view .jd_nav a img {
  width: 45%;
  margin: 0 auto;
}
.view .seckill {
  background-color: #fff;
}
.view .seckill .seckill_title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 5px;
}
.view .seckill .seckill_title .title_lf em {
  display: inline-block;
  width: 18px;
  height: 22px;
  margin: 0 15px;
  background: url('../images/jd-sprites.png') no-repeat;
  background-position: -85px -110px;
  background-size: 200px 200px;
  vertical-align: top;
}
.view .seckill .seckill_title .title_lf i {
  font-size: 16px;
  margin-right: 15px;
}
.view .seckill .seckill_title .title_lf span {
  font-size: 15px;
  color: #fff;
  background-color: #3f3f3f;
  padding: 0 2px;
  margin-right: 3px;
}
.view .seckill .seckill_title .title_lf span:nth-last-child(3n) {
  background-color: #fff;
  color: #3f3f3f;
}
.view .seckill .seckill_content {
  display: flex;
}
.view .seckill .seckill_content a {
  position: relative;
  font-size: 14px;
  flex: 1;
  text-align: center;
}
.view .seckill .seckill_content a img {
  width: 95%;
}
.view .seckill .seckill_content a del {
  color: #999;
}
.view .seckill .seckill_content a span {
  position: absolute;
  top: 36%;
  right: 16%;
  width: 46px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  background-color: #ffb200;
  border-radius: 50%;
}
.view .coupon {
  position: relative;
  background-color: #fff;
  width: 100%;
}
.view .coupon .bg_content {
  position: absolute;
  bottom: 5px;
  left: 0;
}
.view .coupon .bg_content a {
  bottom: 0;
  float: left;
  width: 50%;
  padding: 0 5px;
}
.view .major {
  background-color: #fff;
}
.view .major a {
  float: left;
  width: 50%;
}
.view .major a:nth-child(-n+3) {
  width: 33.333333%;
}
.view .advert {
  padding: 0 5px;
}
.view .market {
  margin: 10px 0;
  background-color: #fff;
}
.view .market .market_title {
  padding-left: 5px;
}
.view .market .market_content a {
  float: left;
  width: 50%;
}
.view .market .market_content a:nth-child(2) {
  padding-top: 1px;
}
.view .theme_street {
  margin: 10px 0;
  background-color: #fff;
}
.view .theme_street .street_title {
  padding-left: 5px;
  padding-bottom: 5px;
}
.view .theme_street .street_content .content_top a {
  float: left;
  width: 50%;
}
.view .theme_street .street_content .content_top a:nth-last-child(-n+2) {
  width: 25%;
}
.view .theme_street .street_content .content_down a {
  float: left;
  width: 25%;
}
.view .brand {
  margin: 10px 0;
  background-color: #fff;
}
.view .brand .brand_title {
  padding-left: 5px;
  padding-bottom: 5px;
}
.view .brand .brand_content {
  display: flex;
}
.view .guess {
  margin-bottom: 5px;
  background-color: #fff;
}
.view .guess .guess_title {
  padding-left: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.view .guess .guess_title a {
  display: flex;
  font-size: 14px;
}
.view .guess .guess_title a img {
  width: 15%;
  margin-right: 5px;
}
.view .guess .guess_content ul li {
  float: left;
  padding: 0 5px;
  width: 50%;
  padding: 10px 10px 0 10px;
}
.view .guess .guess_content ul li .title {
  display: flex;
  justify-content: space-between;
}
.view .guess .guess_content ul li .title span {
  font-size: 14px;
  border: 1px solid #ccc;
  color: #666;
}
.view .guess .guess_content ul li .item a {
  border-bottom: 1px solid #ccc;
}
.view .guess .guess_content ul li .item a img {
  margin: 0 auto;
  width: 92%;
}
.view .guess .guess_content ul li .item a p {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
}
.view .footer {
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #666;
  margin-bottom: 50px;
}
.view .footer .more {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.view .footer .service {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.view .footer .service a {
  text-align: center;
  width: 25%;
  border-right: 1px solid #000;
}
.view .footer .service a:nth-child(4) {
  border-right: 0;
}
.view .footer .format {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.view .footer .format a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view .footer .format a em {
  width: 33px;
  height: 33px;
  background: url('../images/jd-sprites.png') no-repeat;
  background-position: -120px -70px;
  background-size: 200px 200px;
  margin-bottom: 5px;
}
.view .footer .format a .touch {
  background-position: -40px -70px;
}
.view .footer .format a .pc {
  background-position: -80px -70px;
}
.view .footer .copy {
  text-align: center;
  padding: 20px 0;
}
.view .footer_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.view .footer_bar a {
  float: left;
  width: 20%;
}
.view .footer_bar a img {
  width: 57px;
  margin: 0 auto;
}
